# ./butane.yaml.tftpl
variant: fcos
version: 1.5.0

passwd:
  users:
    - name: core
      groups:
        - docker
      %{~ if length(ssh_authorized_keys) > 0 ~}
      ssh_authorized_keys:
        %{~ for key in ssh_authorized_keys ~}
        - ${key}
        %{~ endfor ~}
      %{~ endif ~}


storage:
  disks:
    - device: /dev/sdb
      wipe_table: false
      partitions:
        - number: 1
          label: docker-data
          size_mib: 0
          start_mib: 0

  filesystems:
    - path: /var/lib/docker/volumes
      device: /dev/disk/by-partlabel/docker-data
      format: xfs
      wipe_filesystem: false
      with_mount_unit: true
      label: docker-data

  files:
    - path: /etc/vconsole.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          KEYMAP=fr

    - path: /etc/sysupdate.qemu-guest-agent.d/qemu-guest-agent.conf
      mode: 0644
      overwrite: true
      contents:
        source: https://extensions.fcos.fr/fedora/qemu-guest-agent.conf

  directories:
    - path: /var/lib/extensions
      mode: 0755
    - path: /var/lib/extensions.d
      mode: 0755

systemd:
  units:
    - name: systemd-sysext.service
      enabled: true

    - name: docker.service
      enabled: true

    - name: doco-cd.service
      enabled: true
      contents: |
        [Unit]
        Description=Doco-CD Service
        Wants=network-online.target docker.service
        After=network-online.target docker.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        SELinuxContext=system_u:system_r:unconfined_t:s0
        ExecStart=/usr/bin/docker run --name doco-cd --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v doco-cd.volume:/data -e POLL_CONFIG="- url: https://github.com/afges/%l.git" ${sops_age_key != "" ? "-e SOPS_AGE_KEY=${sops_age_key}" : ""} ghcr.io/kimdre/doco-cd:latest

        [Install]
        WantedBy=multi-user.target

    - name: "install-qemu-guest-agent-sysext.service"
      enabled: true
      contents: |
        [Unit]
        Description=Install qemu-guest-agent sysext
        Wants=network-online.target
        After=network-online.target systemd-sysext.service
        ConditionPathExists=!/var/lib/extensions.d/qemu-guest-agent-*.raw
        ConditionFirstBoot=yes

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        SELinuxContext=system_u:system_r:unconfined_t:s0
        ExecStart=/usr/lib/systemd/systemd-sysupdate update --component qemu-guest-agent
        ExecStartPost=/usr/bin/systemctl restart systemd-sysext.service

        [Install]
        WantedBy=multi-user.target
