# ./butane.yaml.tftpl
variant: fcos
version: 1.5.0

passwd:
  users:
    - name: core
      %{~ if length(ssh_authorized_keys) > 0 ~}
      ssh_authorized_keys:
        %{~ for key in ssh_authorized_keys ~}
        - ${key}
        %{~ endfor ~}
      %{~ endif ~}


storage:
  disks:
    - device: /dev/sdb
      wipe_table: false
      partitions:
        - number: 1
          label: podman-data
          size_mib: 0
          start_mib: 0

  filesystems:
    - path: /var/lib/containers/storage
      device: /dev/disk/by-partlabel/podman-data
      format: xfs
      wipe_filesystem: false
      with_mount_unit: true
      label: podman-data

  files:
    - path: /etc/vconsole.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          KEYMAP=fr

    - path: /etc/sysupdate.qemu-guest-agent.d/qemu-guest-agent.conf
      mode: 0644
      overwrite: true
      contents:
        source: https://extensions.fcos.fr/fedora/qemu-guest-agent.conf

    - path: /etc/containers/systemd/doco-cd.container
      mode: ${sops_age_key != "" ? "0600" : "0644"}
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Doco-CD Container
          Wants=network-online.target
          After=network-online.target

          [Container]
          Image=ghcr.io/kimdre/doco-cd:latest
          AutoUpdate=registry
          Pull=newer
          PodmanArgs=--privileged
          Volume=/run/podman/podman.sock:/var/run/docker.sock
          Environment=POLL_CONFIG="- url: https://github.com/afges/%l.git"
          %{~ if sops_age_key != "" ~}
          Environment=SOPS_AGE_KEY=${sops_age_key}
          %{~ endif ~}

          [Service]
          Restart=always
          RestartSec=10

          [Install]
          WantedBy=multi-user.target default.target

  directories:
    - path: /var/lib/extensions
      mode: 0755
    - path: /var/lib/extensions.d
      mode: 0755

systemd:
  units:
    - name: systemd-sysext.service
      enabled: true

    - name: podman.socket
      enabled: true

    - name: podman-auto-update.timer
      enabled: true

    - name: "install-qemu-guest-agent-sysext.service"
      enabled: true
      contents: |
        [Unit]
        Description=Install qemu-guest-agent sysext
        Wants=network-online.target
        After=network-online.target systemd-sysext.service
        ConditionPathExists=!/var/lib/extensions.d/qemu-guest-agent-*.raw
        ConditionFirstBoot=yes

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        SELinuxContext=system_u:system_r:unconfined_t:s0
        ExecStart=/usr/lib/systemd/systemd-sysupdate update --component qemu-guest-agent
        ExecStartPost=/usr/bin/systemctl restart systemd-sysext.service

        [Install]
        WantedBy=multi-user.target
